<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_VERSION_IDENTIFIER</key>
	<string>$(APP_VERSION_IDENTIFIER)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ProtonDriveFileProvider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>Debug</string>
	<key>DEFAULT_API_HOST</key>
	<string>$(DEFAULT_API_HOST)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict/>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>ch.protonmail.drive.fileprovider.action.refresh</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Refresh</string>
			</dict>
		</array>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>$(TeamIdentifierPrefix)ch.protonmail.protondrive</string>
		<key>NSExtensionFileProviderDownloadPipelineDepth</key>
		<integer>6</integer>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionFileProviderUploadPipelineDepth</key>
		<integer>4</integer>
		<key>NSExtensionFileProviderWantsFlattenedPackages</key>
		<true/>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FileProviderExtension</string>
		<key>NSFileProviderDecorations</key>
		<array>
			<dict>
				<key>BadgeImageType</key>
				<string>me.proton.drive.fileBadge.shared</string>
				<key>Category</key>
				<string>Sharing</string>
				<key>Identifier</key>
				<string>me.proton.drive.fileproviderdecorations.shared.file</string>
				<key>Label</key>
				<string>Shared</string>
			</dict>
			<dict>
				<key>BadgeImageType</key>
				<string></string>
				<key>Category</key>
				<string>Sharing</string>
				<key>Identifier</key>
				<string>me.proton.drive.fileproviderdecorations.shared.label</string>
				<key>Label</key>
				<string>Shared</string>
			</dict>
			<dict>
				<key>BadgeImageType</key>
				<string>me.proton.drive.folderBadge.shared</string>
				<key>Category</key>
				<string>FolderBadge</string>
				<key>Identifier</key>
				<string>me.proton.drive.fileproviderdecorations.shared.folderBadge</string>
				<key>Label</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
