//
//  Config-Release-Store.xcconfig
//  ProtonDrive-macOS
//
//  Created by Audrey SOBGOU ZEBAZE on 28/11/2022.
//  Copyright © 2022 ProtonMail. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEFAULT_API_HOST = drive-api.proton.me

APP_VERSION_IDENTIFIER =

ICON_NAME = AppIcon-Release-External
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) SSL_PINNING PRODUCTION_LEVEL_LOGS HAS_BUILTIN_UPDATER
